In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("911.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99492 entries, 0 to 99491
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   lat        99492 non-null  float64
 1   lng        99492 non-null  float64
 2   desc       99492 non-null  object
 3   zip        86637 non-null  float64
 4   title      99492 non-null  object
 5   timeStamp  99492 non-null  object
 6   twp        99449 non-null  object
 7   addr       98973 non-null  object
 8   e          99492 non-null  int64
dtypes: float64(3), int64(1), object(5)
memory usage: 6.8+ MB

In [4]:
df.shape 
#returns number of rows and columns

(99492, 9)

In [5]:
df.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

In [6]:
df.tail()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
99487,40.132869,-75.333515,MARKLEY ST & W LOGAN ST; NORRISTOWN; 2016-08-2...,19401.0,Traffic: VEHICLE ACCIDENT -,2016-08-24 11:06:00,NORRISTOWN,MARKLEY ST & W LOGAN ST,1
99488,40.006974,-75.289080,LANCASTER AVE & RITTENHOUSE PL; LOWER MERION; ...,19003.0,Traffic: VEHICLE ACCIDENT -,2016-08-24 11:07:02,LOWER MERION,LANCASTER AVE & RITTENHOUSE PL,1
99489,40.115429,-75.334679,CHESTNUT ST & WALNUT ST; NORRISTOWN; Station ...,19401.0,EMS: FALL VICTIM,2016-08-24 11:12:00,NORRISTOWN,CHESTNUT ST & WALNUT ST,1
99490,40.186431,-75.192555,WELSH RD & WEBSTER LN; HORSHAM; Station 352; ...,19002.0,EMS: NAUSEA/VOMITING,2016-08-24 11:17:01,HORSHAM,WELSH RD & WEBSTER LN,1
99491,40.207055,-75.317952,MORRIS RD & S BROAD ST; UPPER GWYNEDD; 2016-08...,19446.0,Traffic: VEHICLE ACCIDENT -,2016-08-24 11:17:02,UPPER GWYNEDD,MORRIS RD & S BROAD ST,1

In [7]:
#To show specific number of columns
pd.set_option('display.max_columns',85)
#note:this changes setting. 
df

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1
...,...,...,...,...,...,...,...,...,...
99487,40.132869,-75.333515,MARKLEY ST & W LOGAN ST; NORRISTOWN; 2016-08-2...,19401.0,Traffic: VEHICLE ACCIDENT -,2016-08-24 11:06:00,NORRISTOWN,MARKLEY ST & W LOGAN ST,1
99488,40.006974,-75.289080,LANCASTER AVE & RITTENHOUSE PL; LOWER MERION; ...,19003.0,Traffic: VEHICLE ACCIDENT -,2016-08-24 11:07:02,LOWER MERION,LANCASTER AVE & RITTENHOUSE PL,1
99489,40.115429,-75.334679,CHESTNUT ST & WALNUT ST; NORRISTOWN; Station ...,19401.0,EMS: FALL VICTIM,2016-08-24 11:12:00,NORRISTOWN,CHESTNUT ST & WALNUT ST,1
99490,40.186431,-75.192555,WELSH RD & WEBSTER LN; HORSHAM; Station 352; ...,19002.0,EMS: NAUSEA/VOMITING,2016-08-24 11:17:01,HORSHAM,WELSH RD & WEBSTER LN,1
99491,40.207055,-75.317952,MORRIS RD & S BROAD ST; UPPER GWYNEDD; 2016-08...,19446.0,Traffic: VEHICLE ACCIDENT -,2016-08-24 11:17:02,UPPER GWYNEDD,MORRIS RD & S BROAD ST,1

In [8]:
#df['lat']
df.lat #both are same,but use [] because there maybe a possiblity the a column name is a panda attribute
#for eg, count is a column. but when you do df.count you use pandas count method and it does not print the column
#to print latititude column

0        40.297876
1        40.258061
2        40.121182
3        40.116153
4        40.251492
           ...
99487    40.132869
99488    40.006974
99489    40.115429
99490    40.186431
99491    40.207055
Name: lat, Length: 99492, dtype: float64

In [9]:
type(df['lat'])
# dataframe contain multiple series-

pandas.core.series.Series

In [10]:
#df['lat'] for single column. 
#to access multiple columns, pass a list
df[['lat','lng']] #datatype is dataframe and not series

             lat        lng
0      40.297876 -75.581294
1      40.258061 -75.264680
2      40.121182 -75.351975
3      40.116153 -75.343513
4      40.251492 -75.603350
...          ...        ...
99487  40.132869 -75.333515
99488  40.006974 -75.289080
99489  40.115429 -75.334679
99490  40.186431 -75.192555
99491  40.207055 -75.317952

[99492 rows x 2 columns]

In [11]:
#ACCESSING COLUMNS
df.columns
#Returns name of columns

Index(['lat', 'lng', 'desc', 'zip', 'title', 'timeStamp', 'twp', 'addr', 'e'], dtype='object')

In [12]:
#ACCESSING ROWS
#iloc - integer location
#df.iloc[0] #returns 0th row
#similarly to access multiple rows, pass a list
df.iloc[[0,1]]

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1

In [13]:
#iloc can also access columns. that will be the second value passed to the outer brackets. 
df.iloc[0,3] #returns 0th row's 3rd column. i.e 1st entry's zip. indexing starts at 0 for columns
#df.iloc[[0,4],[4,1,3]]

19525.0

In [14]:
df.iloc[0:4,1:3] #if slicing is done, no need to pass lists. pass slices

         lng                                               desc
0 -75.581294  REINDEER CT & DEAD END;  NEW HANOVER; Station ...
1 -75.264680  BRIAR PATH & WHITEMARSH LN;  HATFIELD TOWNSHIP...
2 -75.351975  HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...
3 -75.343513  AIRY ST & SWEDE ST;  NORRISTOWN; Station 308A;...

In [15]:
#loc is similar but uses label. 
df.loc[0,'zip'] #first value is label too. 
#other similar things can be done

19525.0

In [16]:
df.columns

Index(['lat', 'lng', 'desc', 'zip', 'title', 'timeStamp', 'twp', 'addr', 'e'], dtype='object')

In [17]:
df.loc[0:4,'lat':'zip']
#0:4 is row labels, and not row count. therefore it returns 5 rows,0,1,2,3,4. see difference in next 
#Similarly text slicing of column names are also possible

,lat,lng,desc,zip
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN

In [18]:
df.iloc[0:4,1]

0   -75.581294
1   -75.264680
2   -75.351975
3   -75.343513
Name: lng, dtype: float64

In [19]:
#To get unique value counts
df['title'].value_counts()

Traffic: VEHICLE ACCIDENT -        23066
Traffic: DISABLED VEHICLE -         7702
Fire: FIRE ALARM                    5496
EMS: RESPIRATORY EMERGENCY          5112
EMS: CARDIAC EMERGENCY              5012
                                   ...
Fire: UNKNOWN MEDICAL EMERGENCY        1
EMS: DISABLED VEHICLE                  1
Fire: PLANE CRASH                      1
Fire: UNCONSCIOUS SUBJECT              1
EMS: BOMB DEVICE FOUND                 1
Name: title, Length: 110, dtype: int64

# Set and Reset indexes

#index column can be set at the time of importing df.

df=pd.read_csv('911.csv',index_col='addr')

In [20]:
#Indexes should be unique values. for eg: id,rollno etc
#setting an idex
df.set_index('addr')

,lat,lng,desc,zip,title,timeStamp,twp,e
addr,,,,,,,,
REINDEER CT & DEAD END,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,1
BRIAR PATH & WHITEMARSH LN,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,1
HAWS AVE,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,1
AIRY ST & SWEDE ST,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,1
CHERRYWOOD CT & DEAD END,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,1
...,...,...,...,...,...,...,...,...
MARKLEY ST & W LOGAN ST,40.132869,-75.333515,MARKLEY ST & W LOGAN ST; NORRISTOWN; 2016-08-2...,19401.0,Traffic: VEHICLE ACCIDENT -,2016-08-24 11:06:00,NORRISTOWN,1
LANCASTER AVE & RITTENHOUSE PL,40.006974,-75.289080,LANCASTER AVE & RITTENHOUSE PL; LOWER MERION; ...,19003.0,Traffic: VEHICLE ACCIDENT -,2016-08-24 11:07:02,LOWER MERION,1
CHESTNUT ST & WALNUT ST,40.115429,-75.334679,CHESTNUT ST & WALNUT ST; NORRISTOWN; Station ...,19401.0,EMS: FALL VICTIM,2016-08-24 11:12:00,NORRISTOWN,1
WELSH RD & WEBSTER LN,40.186431,-75.192555,WELSH RD & WEBSTER LN; HORSHAM; Station 352; ...,19002.0,EMS: NAUSEA/VOMITING,2016-08-24 11:17:01,HORSHAM,1
MORRIS RD & S BROAD ST,40.207055,-75.317952,MORRIS RD & S BROAD ST; UPPER GWYNEDD; 2016-08...,19446.0,Traffic: VEHICLE ACCIDENT -,2016-08-24 11:17:02,UPPER GWYNEDD,1

In [21]:
df.head()
#note: dataframe is not change to undex addr because it's not assigned to df yet. it has only experimented

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

To make changes, use inplace=True ***When inplace = True , the data is modified in place, which means it will return nothing and the dataframe is now updated. When inplace = False , which is the default, then the operation is performed and it returns a copy of the object. You then need to save it to something.

In [22]:
df.set_index('addr',inplace=True)
df.head()

,lat,lng,desc,zip,title,timeStamp,twp,e
addr,,,,,,,,
REINDEER CT & DEAD END,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,1
BRIAR PATH & WHITEMARSH LN,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,1
HAWS AVE,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,1
AIRY ST & SWEDE ST,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,1
CHERRYWOOD CT & DEAD END,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,1

In [23]:
df.index

Index([                  'REINDEER CT & DEAD END',
                     'BRIAR PATH & WHITEMARSH LN',
                                       'HAWS AVE',
                             'AIRY ST & SWEDE ST',
                       'CHERRYWOOD CT & DEAD END',
                          'CANNON AVE & W 9TH ST',
                       'LAUREL AVE & OAKDALE AVE',
                   'COLLEGEVILLE RD & LYWISKI RD',
                  'MAIN ST & OLD SUMNEYTOWN PIKE',
       'BLUEROUTE  & RAMP I476 NB TO CHEMICAL RD',
       ...
         'RT100 SB & E PHILADELPHIA AVE OVERPASS',
               'DEKALB PIKE & KING OF PRUSSIA RD',
              'SHANNONDELL DR & SHANNONDELL BLVD',
                     'EAGLEVILLE RD & REDTAIL RD',
                       'WELSH RD & NORRISTOWN RD',
                        'MARKLEY ST & W LOGAN ST',
                 'LANCASTER AVE & RITTENHOUSE PL',
                        'CHESTNUT ST & WALNUT ST',
                          'WELSH RD & WEBSTER LN',
                         'MORRIS RD & S BROAD ST'],
      dtype='object', name='addr', length=99492)

In [24]:
df.reset_index(inplace=True)
df.head()

,addr,lat,lng,desc,zip,title,timeStamp,twp,e
0,REINDEER CT & DEAD END,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,1
1,BRIAR PATH & WHITEMARSH LN,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,1
2,HAWS AVE,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,1
3,AIRY ST & SWEDE ST,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,1
4,CHERRYWOOD CT & DEAD END,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,1

Indexes can also be sorted by df.sort_index(). can be alphabetical sorting aswell as numeric for descendning - df.sort_index(ascending=False) use inplace for permanent changes